<div class="jumbotron">
  <h1 class="display-4">Welcome Traders,</h1>
  <p class="lead">This website is a prototype for a bigger project that it will come soon, also it will be improved everyday and also it will include a Trading Bot.</p>
  <hr class="my-4">
  <p>Hold and stay tuned.</p>
</div>