nav {
    padding: 110px;
}
.jumbotron {
    background-color: #e4e4e4;
    text-align:left;
    padding: 20px 40px;
    display:inline-block;
}
.jumbotron h1{
    font-size: 30px;
    font-weight: 400;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: grey;
}
